<nav class="navbar">
	<!-- LOGO -->
	<a href="/" class="nav-logo">Gonda Inc.</a>

	<!-- Linky -->
	<ul class="nav-links">
		<li><a href="/blogs">Blogs </a></li>
		<li><a href="/about">About </a></li>
		<li><a href="/references">References </a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</nav>
